<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!--DataBase Connections-->   
    <add key="DbConnectionString" value="Data Source=10.40.2.5;Initial Catalog=UnitTrack;User ID=Timesheets;Password=Timesheets;Encrypt=False; Connect Timeout=1000;"/>

    <add key="SecurityKey" value=""/>
    <add key="AdminEmail" value="storm@pike.com"/>
    <add key="ToEmail" value="avangoor@pike.com"/>
    <add key="SMTPHost" value="smtp.pike.com"/>
    <add key="EnvironmentFLag" value="1"/>
    <add key="AppName" value="UnitTrackService"/>
    
    
    <!-- Duke API QA Details-->
    <!--<add key="CUDataUrl" value="https://uat.apigee.duke-energy.app/wmes-external/"/>
    <add key="OauthUrl" value="https://uat.apigee.duke-energy.app"/>
    <add key="OauthKey" value="dksG469ZaNvgx6LjFVGKAclyYyJ3U9dJwpmAVOBHIRTKS3IX"/>
    <add key="OauthSecret" value="XAxZskIzBLCXYeHO25fMgs1yutBUbLesuq5UAqpQQOXBEVqaUkJfL9hl1kCsNolA"/>
    <add key="OauthTokenCred" value="MkxpTTlpYmtlQlNPS09aU3dBZmtOSmtiV2ZjWlZpaDUyb2ZDUUd4Q0Zjd1VQajBHOkFHRFJMSkhUdXNFZ29rN3liU3VIcExJRFpQdkdGeTV4eU9pVnNRTmlZdjMyV2l5UHpNM0lOT3BtQUtxdU9GT2I=" />-->

    <!-- Duke API Prod Details-->
    <add key="CUDataUrl" value="https://prod.apigee.duke-energy.app/wmes-external/"/>
    <add key="OauthUrl" value="https://prod.apigee.duke-energy.app"/>    
    <add key="OauthKey" value="dksG469ZaNvgx6LjFVGKAclyYyJ3U9dJwpmAVOBHIRTKS3IX"/>
    <add key="OauthSecret" value="XAxZskIzBLCXYeHO25fMgs1yutBUbLesuq5UAqpQQOXBEVqaUkJfL9hl1kCsNolA"/>
    <add key="OauthTokenCred" value="ZGtzRzQ2OVphTnZneDZMakZWR0tBY2x5WXlKM1U5ZEp3cG1BVk9CSElSVEtTM0lYOlhBeFpza0l6QkxDWFllSE8yNWZNZ3MxeXV0QlViTGVzdXE1VUFxcFFRT1hCRVZxYVVrSmZMOWhsMWtDc05vbEE="/>

    <add key="OauthSubUrl" value="/wmes-external/"/>
    <add key="OauthTokenUrl" value="/cust/oauth2/v1/token"/>
    <add key="DukeStatus" value="COMP,CONCOMP,INPRG,SCHED,REVIEWED,CANCEL,REQTOCANCELINPRG,DESCHEDINP,CONHOLD,SUSPD,CAN,REQTOCANCELAPPR,CANWCHARGE,COMPNOWORK,SCHEDINP,WSCHED"/>
    <!--<add key="change-date-gt" value="2020-10-01T14:00:00"/>
    <add key="change-date-lt" value="2021-10-06T14:00:00"/>-->
    <add key="change-date-gt" value="2024-01-01T14:00:00"/>
    <add key="change-date-lt" value="2024-12-31T14:00:00"/>
    <add key="CommandTimeout" value="1000"/>

    <!-- Duke API Service Details-->
    <add key="ServiceUrl" value="http://oraclewebservicesdev.pike.com"/>
    <add key="ServiceSubUrl" value="/UnitTracktest/UnitTrackService.svc/GetDukeCuData/strWorkOrder/"/>

    <!-- Oracle Report Wrappere Details-->
    <add key="OracleWrapperUrl" value="https://oraclewebservicesstg.pike.com"/>
    <add key="OracleWrapperSubUrl" value="/OracleReportWrapper/api/runreport"/>
    <add key="OracleWrapperEnvironment" value="edyo"/>
    
    <add key="DynamicsConnection" value="Server=pikedynamics.crm.dynamics.com; Authentication=Active Directory Password; Database=orgfc2ea279; User Id=SVC_EDW_DYN@pikeenterprises.onmicrosoft.com; Password=Gbu$78!2QvZ"/>
    <add key="Dynamics_Url" value="https://pikedynamics.crm.dynamics.com/"/>

     <!--Token Generation for Dynamics-->
    <add key="Client_Id" value="beeb14fc-4c5e-4944-89c9-8f00a6f1f419"/>
    <add key="Client_Secret" value="Rm5i5FJcf7sk5r0Usy0Uk+ONgHcaTUH4uvi+Kt/yIeLuNpcPrOW5b0yHUvftOQGr"/>
    <add key="Grant_Type" value="client_credentials"/>
    <add key="Realm" value="9fbce44f-d64c-4f7e-bbe0-19479c36278b"/>
    
    <!--Static Values-->
    <add key="ExceptionOnScreen" value="0"/>
    <add key="CommandTimeout" value="180"/>
    <add key="BatchSize" value="100"/>
    <add key="FilePath" value="C:\\RamMohan\\Projects\\GitHub\\UnitTrackMaximo\\LogFiles\\"/>
    <add key="FolderName" value="UnitTrack_Logs"/>
  </appSettings>
  
</configuration>